<?xml version="1.0" encoding="UTF-8"?>
		<!-- Status determines which log4j log messages are included. -->
<Configuration status="WARN">
<Appenders>
	<!-- Console output -->
	<Console name="Console" target="SYSTEM_OUT">
		<PatternLayout pattern="%m%n">
		</PatternLayout>
	</Console>

	<!-- Logging to a file for debugging -->
	<File name="FileLog" fileName="./frontend1/debug.log" append="false">
		<PatternLayout
				pattern="[%-5level{lowerCase=true}] %m%n">
		</PatternLayout>
	</File>
</Appenders>

<Loggers>
	<!-- This is the configuration used by all other loggers. -->
	<Root level="DEBUG">
		<AppenderRef ref="Console" level="ERROR"  />
		<AppenderRef ref="FileLog" level="DEBUG"  />
	</Root>
</Loggers>
</Configuration>